<a href="https://colab.research.google.com/github/abdulhkeemalrasheedi/DATA-MINING/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a= 10
b= 5
sum = a+b
difference = a-b
product = a*b
division = a/b
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Division:", division)

Sum: 15
Difference: 5
Product: 50
Division: 2.0

In [5]:
print(f"The sum of the two numbers {a}, {b} is {sum}")

The sum of the two numbers 10, 5 is 15

In [6]:
x = 13//2
print(x)
y= 13%2
print (y)

6
1

In [9]:
x = 10
y = 5

is_greater = x > y
is_equa1 = x==y
is_not_equa1 = x != y

print("is x greater than y?", is_greater)
print("is x equa1 y?", is_equa1)
print("is x_not_equa1 to y?", is_not_equa1)

is x greater than y? True
is x equa1 y? False
is x_not_equa1 to y? True

In [11]:
name = "Abdulhkeem"
age = 39
is_researcher = True

print(f"{name}'s age is {age}. He is a Researche is {is_researcher}")

Abdulhkeem's age is 39. He is a Researche is True

In [87]:
def greet (name) :
  return "Hello," + name + "!"

my_name = input("Enter your name:")
greet("Abdulhkeem")

Enter your name:Abdulhkeem

'Hello,Abdulhkeem!'

In [100]:
def add_number(a,b):
  return a+b

  a=input("enter first number:")
  b=input("enter second number:")

  addition_value = add_number(a,b)
  print(f"The result of addition of {a},{b} is {addition_value}")

In [96]:
def add_numbers(a,b):
  return a+b

  a = int(input("enter first number:"))
  b = int(input("enter second number:"))

  addition_value = add_numbers(a,b)
  print(f"The result of addition for {a},{b} is {addition_value}")

In [102]:
def add_numbers(a,b):
  return a+b

  a = eval(input("enter first number:"))
  b = eval(input("enter second number:"))

  addition_value = add_numbers(a,b)
  print(f"The result of addition for {a},{b} is {addition_value}")

In [106]:
# Working with strings
message = "Hello,World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original message:", message)
print("The length is: ", length)
print("Upper case: ", uppercase)
print("Lower case: ", lowercase)
print("Part of the messge is: ", substring)

Original message: Hello,World
The length is:  11
Upper case:  HELLO,WORLD
Lower case:  hello,world
Part of the messge is:  orld

In [116]:
# Basic input example
Last = input("Enter the last name, last name:")
First = input("Enter the last name, first name:")

print(f"{Last}, {First}")

Enter the last name, last name:Alrasheedi
Enter the last name, first name:Abdulhkeem
Alrasheedi, Abdulhkeem

In [110]:
# @title Default title text
age = int (input("Enter your age:"))
print("You will be", age + 1, "years old next year.")

Enter your age:39
You will be 40 years old next year.

In [111]:
num1 = float (input("Enter a number:"))
num2 = float (input("Enter another number:"))
sum_result = num1 + num2
print("Sum:", sum_result)

Enter a number:12
Enter another number:14
Sum: 26.0

In [112]:
city = input("Enter your city:")
country = input("Enter your country:")
location = city + ","+country
print("You are in:", location)

Enter your city:Tabuk
Enter your country:KSA
You are in: Tabuk,KSA

In [114]:
name, age = input("Enter your name and age separated by space:").split()
print(f"my name is {name} and my age is {age}")

Enter your name and age separated by space:Abdulhkeem 39
my name is Abdulhkeem and my age is 39